* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #ffc078;
  --text-color: #bbbbbb;
  --white-color: #ededed;
  --black-color: #131313;
  --text-gradient-orange: -webkit-linear-gradient(#e67700, #ffd8a8);
  --text-gradient-white: -webkit-linear-gradient(#fff, #ededed);
  --white: #fff;
  --light-orange: #fff4e6;
  --dark-orange: #f08c00;
}

body {
  background-color: #0f1312 !important;
  color: var(--white) !important;
}

.inner-container {
  border: 1px solid var(--dark-orange);
  padding: 15px;
  margin-top: 30px;
  border-radius: 20px;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
}

.inner-container.left-side {
  text-align: center;
}

.inner-container img.profile {
  width: 70%;
  border-radius: 50%;
  display: block;
  margin: auto;
  border: 5px solid var(--dark-orange);
  margin-bottom: 20px;
  height: 190px;
}

.inner-container.right-side form {
  display: flex;
  height: 100px;
}

.inner-container.right-side form textarea {
  width: 85%;
  border: 0;
  padding: 10px;
  resize: none;
  outline-color: var(--orange);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  color: var(--light-orange);
}

.inner-container.right-side form button {
  width: 15%;
  border: 0;
  background: rgba(114, 114, 114, 0.2);
  cursor: pointer;
  border-radius: 10px;
  color: var(--light-orange) !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.edit-acc-modal {
  display: none;
  background-color: var(--black-color);
  border-radius: 20px;
  width: 40rem;
  margin: auto;
  padding: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(33, 37, 41, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px !important;
  color: var(--light-orange);
}

.edit-acc-modal a {
  cursor: pointer;
  color: var(--light-orange);
}

.edit-acc-modal h2 {
  color: var(--light-orange);
  padding-top: 0;
}

.edit-acc-modal div {
  padding: 1rem 0;
}

.edit-acc-modal div label {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: var(--white);
  margin-bottom: 0.5rem;
}

.edit-acc-modal div input {
  height: 4rem;
  width: 100%;
  font-size: 18px;
  padding: 0 0.6rem;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  color: var(--light-orange);
  border-radius: 10px;
}

.edit-acc-modal div button {
  cursor: pointer;
  padding: 0.7rem 3rem;
  font-size: 1.2rem;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--light-orange);
  box-shadow: 0 2px 10px #0000001a;
  color: var(--light-orange);
}

.edit-acc-modal button#closeModal {
  height: 1.2rem;
  width: 1.2rem;
  color: var(--white);
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 30px;
}

#close-acc-modal {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 20px;
}

#editAccount {
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  color: var(--light-orange);
  padding: 5px 15px;
}

#logout {
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  color: var(--light-orange);
  padding: 5px 15px;
}

#deleteProfile {
  border: 2px solid red;
  color: red;
  padding: 5px 15px;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
}

#allPostsWrapper .single-post {
  padding: 15px;
  margin-top: 15px;
  color: var(--light-orange);
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px !important;
}

#allPostsWrapper .single-post .post-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  font-size: 22px;
}

#allPostsWrapper .single-post .post-comments form {
  height: 30px;
  margin-top: 15px;
}

#allPostsWrapper .single-post .post-comments form input {
  width: 85%;
  padding: 0 10px;
}

#allPostsWrapper .single-post .post-comments form button {
  width: 15%;
  background-color: grey;
}

#allPostsWrapper .single-post .post-content {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  font-size: 22px;
}

#allPostsWrapper .single-post .post-actions {
  display: flex;
  justify-content: space-between;
  color: grey;
}

#allPostsWrapper .single-post .post-actions div button.like-btn {
  background-image: url(../assets/img/heart.svg);
  padding: 5px 15px 5px 40px;
  background-repeat: no-repeat;
  background-position: 10px;
  border: 0;
  background-color: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px !important;
}

#allPostsWrapper .single-post .post-actions div button.like-btn.liked {
  background-image: url(../assets/img/heart-fill.svg);
}

#allPostsWrapper .single-post .post-actions div button.comment-btn {
  background-image: url(../assets/img/comment.png);
  background-color: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px !important;
  padding: 5px 15px 5px 40px;
  background-repeat: no-repeat;
  background-position: 10px;
  border: 0;
}

#allPostsWrapper .single-post .post-actions div button.remove-btn {
  color: red;
  padding: 5px 15px;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 20px !important;
}

#allPostsWrapper .single-post .post-comments {
  display: none;
}

#allPostsWrapper .single-post .post-comments form input {
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
    color: var(--white);

}



#allPostsWrapper .single-post .post-comments .single-comment {
  border: 1px solid var(--light-orange);
  padding: 10px;
  margin-top: 10px;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px #0000001a;
  border-radius: 10px;
  color: var(--light-orange);
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}



#allPostsWrapper .single-post .post-comments .single-comment {
  /* existing styles */
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 5px;
}

#allPostsWrapper .single-post .post-comments .single-comment .delete-comment-btn {
  color: var(--light-orange);
  position: absolute;
  right: 5px;
  cursor: pointer;
  background: rgba(114, 114, 114, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid #404040b5;
  box-shadow: 0 2px 10px #0000001a;
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;

}

#allPostsWrapper .single-post .post-comments .single-comment .delete-comment-btn:hover {
  background: rgba(114, 114, 114, 0.4);
  color: var(--white);
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  position: absolute;
}

#allPostsWrapper .single-post .post-actions p {
  margin-top: 15px;
  font-size: 14px;
  color: var(--light-orange);
  margin-left: 6%;
}

